<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/img/favicon.ico/" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180.png/">
    <meta name="description"
        content="Douglas and Jonathan take on the top Two Hundred and Fifty films, according to the questionable public ratings of iMDB" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>TwoFiveOh</title>
    <meta name="theme-color" content="#333333" />
  </head>
  <body>
    <main>{{ content | safe }}</main>
  </body>
</html>